body {
  background-color: lightpink;
}

.container {
  text-align: center;
  flex: 1;
  margin: 0;
  padding: 0;
  align-items: center;
  border: 10px solid transparent;
  font-family: fantasy;
  outline: 10px;
  outline-color: yellow;
}
